.navImg {
  z-index: 13;
  position: absolute;
  top: 0;
  width: 65px;
  height: 75px;
  left: 0;
}
.header-background {
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 10;
  height: 52px;
  background-color: rgb(122, 23, 5);
}
