.cdk-overlay-connected-position-bounding-box {
  top: 0px !important;
  left: 0px !important;
  height: 100% !important;
  width: 100% !important;
  display: flex;
  justify-content: center !important;
}


